<!DOCTYPE html>
<html>
<head>
  <style>
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;   /* This makes the body a flex container */
    flex-direction: column;   /* This stacks the children vertically */
  }
  .main {
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;  /* This allows the main area to take up the rest of the space */
  }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{extra_head|safe}}
</head>
<body>

  <div class="main">
    {{content|safe}}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Create sidebar
      const sidebar = document.createElement('div');
      sidebar.style.all = 'initial';
      sidebar.style.position = 'fixed';
      sidebar.style.left = '0';
      sidebar.style.top = '0';
      sidebar.style.height = '100%';
      sidebar.style.backgroundColor = '#f9f9f9';
      sidebar.style.padding = '10px';
      sidebar.style.flexDirection = 'column';
      sidebar.style.fontFamily = "'Roboto','Arial',sans-serif";
      sidebar.style.lineheight = "1rem";
      sidebar.style.fontSize = "1rem";
      sidebar.style.backgroundColor = "#0F0F0F"
      sidebar.style.color = "#f1f1f1"
      sidebar.style.width = '150px'; // Width of the sidebar
      sidebar.style.overflow = 'auto';

      // Create links (tabs)
      const links = [
        {name: 'Upload', url: '{{upload_path}}'},
        {name: 'Document', url: '{{document_path}}'},
        {name: 'Review', url: '{{review_path}}'},
        {name: 'Labels', url: '{{labels_path}}'},
        {name: 'Settings', url: '{{settings_path}}'},
        {name: 'Import Events', url: '{{import_events_path}}'},
        {name: 'Export', url: '{{export_path}}'},
        {name: 'Members', url: '{{member_path}}'},
      ];

      const pathParts = window.location.pathname.split('/');
      const activeTabName = pathParts.length >= 3 ? pathParts[3] : pathParts[1];  // Get the 3rd child of the url

      links.forEach(link => {
        const tab = document.createElement('div');
        tab.className = 'tab';
        tab.style.padding = '10px';
        tab.style.cursor = 'pointer';
        tab.style.marginBottom = '1px';
        tab.innerText = link.name;
        tab.addEventListener('click', () => {
          document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
          tab.classList.add('active');
          window.location.href = link.url;
        });
        sidebar.appendChild(tab);

        if (link.name.toLowerCase() === activeTabName) {  // Check if the link name matches the 3rd child of the url
          tab.classList.add('active');  // If so, set this tab as active
        }
      });

      // Append sidebar to the body
      document.body.appendChild(sidebar);

      // Adjust the rest of the body to not be overlapped by sidebar
      document.body.style.paddingLeft = '170px';  // adjust this value based on the width of your sidebar
      document.body.style.paddingTop = '0px';

      // Adding styles for hover and active states
      const style = document.createElement('style');
      style.innerHTML = `
        .tab:hover {
          background-color: #3D3D3D;  // change color on hover
        }
        .tab.active {
          background-color: #272727;  // change color for active tab
        }
      `;
      document.head.appendChild(style);
    });
    </script>
</body>
</html>
