<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, sans-serif;
}
</style>
</head>
<body>
  <h1>Documents</h1>
  {% for document in documents %}
  <div>
      <h2>{{ document['json_data']['data']['title'] }}</h2>
      <p>{{ document['json_data']['data']['abstract'] }}</p>
      {% if document['uri'] %}
        <a href="{{ document['uri'] }}">Link</a>
      {% endif %}
      {% for label_answer in document['label_answers'] %}
        <div>
          <p><strong>Label:</strong> {{ label_answer[0]['id'] }}</p>
          <p><strong>Answer:</strong> {{ label_answer[1]['answer'] }}</p>
        </div>
      {% endfor %}
  </div>
  {% endfor %}
</body>
</html>
