<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <script>
        function generateInviteLink() {
            fetch('/generate_invite_link')
                .then(response => response.json())
                .then(data => {
                    let inviteLinkControl = document.getElementById("invite_link");
                    inviteLinkControl.value = data.invite_link;
                    inviteLinkControl.select();
                    document.execCommand("copy");
                });
        }
    </script>
</head>
<body>
    <div style="display: flex;">
        <div style="flex: 25%;">
            <nav>
                <ul>
                    {% for group in settings_group %}
                        <li><a href="#{{ group.name }}">{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div style="flex: 75%;">
            {% for group in settings_group %}
                <div id="{{ group.name }}">
                    <h2>{{ group.name }} Settings</h2>
                    {% for setting in settings %}
                        {% if setting.group == group.name %}
                            {% if setting.key != 'invite_link' %}
                                <label for="{{ setting.key }}">{{ setting.key }}</label><br>
                                <input type="text" id="{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.value }}"><br>
                            {% else %}
                                <label for="{{ setting.key }}">{{ setting.key }}</label><br>
                                <input type="text" id="{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.value }}" readonly><br>
                                <button onclick="generateInviteLink()">Generate and Copy Invite Link</button><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</body>
</html>
